= form_for @trip do |f|
  - if @trip.errors.any?
    #error_explanation
      %h2= "#{pluralize(@trip.errors.count, "error")} prohibited this trip from being saved:"
      %ul
        - @trip.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :arrived_on
    = f.date_select :arrived_on
  .form-group
    = f.label :left_on
    = f.date_select :left_on
  .form-group
    = f.label :destination_id
    =f.collection_select :destination_id, Destination.order(:name), :id, :name
  .row
    .col-md-4
      = f.submit 'Save', class: "btn btn-default"
