= form_for @word do |f|
  - if @word.errors.any?
    #error_explanation
      %h2= "#{pluralize(@word.errors.count, "error")} prohibited this word from being saved:"
      %ul
        - @word.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.text_field :english, placeholder: "English"
  .form-group
    = f.text_field :mandarin, placeholder: "Mandarin"
    = f.text_field :mandarin_notes, placeholder: "Notes"
  .form-group
    = f.text_field :arabic, placeholder: "Levantine Arabic"
    = f.text_field :arabic_notes, placeholder: "Notes"
  .form-group
    = f.text_field :spanish, placeholder: "Spanish"
    = f.text_field :spanish_notes, placeholder: "Notes"
  .form-group
    = f.text_field :cantonese, placeholder: "Cantonese"
    = f.text_field :cantonese_notes, placeholder: "Notes"
  .form-group
    = f.text_field :swahili, placeholder: "Swahili"
    = f.text_field :swahili_notes, placeholder: "Notes"
  .form-group
    = f.text_field :french, placeholder: "French"
    = f.text_field :french_notes, placeholder: "Notes"
  .form-group
    = f.text_field :russian, placeholder: "Russian"
    = f.text_field :russian_notes, placeholder: "Notes"
  .form-group
    =f.collection_select :block_list_id, BlockList.order(:title), :id, :title, include_blank: true
  .row
    .col-md-4
      = f.submit 'Save'
