.container.show
  %h1 All Words

  .table-responsive
    %table.table
      %thead
        %tr
          %th English
          %th Mandarin
          %th Arabic
          %th Spanish
          %th Cantonese
          %th Swahili
          %th French
          %th Russian
          %th
          %th

      %tbody

        - @words.each do |word|
          %tr
            %td= word.english
            %td= word.mandarin
            %td= word.arabic
            %td= word.spanish
            %td= word.cantonese
            %td= word.swahili
            %td= word.french
            %td= word.russian
            %td= link_to 'Show', word
            %td= link_to 'Edit', edit_word_path(word)
            %td= link_to 'Destroy', word, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

  = link_to 'New Word', new_word_path
