%script{src: 'https://www.google.com/jsapi'}

.container.show
  %h1 Language Blocks

  -if @world_chart
    .col-md-12
      #chart
      = render_chart(@world_chart, "chart")


  %p This is a basic guide to what I consider the essential parts of learning a language. This is not intended to be authoritative or exhaustive by any measure—the goal is just to provide the most efficient route possible to "get by" with a new language.

  %p An important stylistic point to recognize in using this guide is that translations have been provided to match the intention of a words and phrases as opposed to the literal meanings. Notes are provided where the literal meanings deviate noticeably.

  
  -if user_signed_in?
    = link_to 'New Block', new_word_path
    \|
    = link_to 'New List', new_block_list_path
    %br/
    %br/

  %h3 Introductions

  .row
    .col-md-2
      %h4
        %a{:href => "/mandarin"}
          普通话
          .small-note
            Mandarin
    
    -if user_signed_in?
      .col-md-2
        %h4 
          %a{:href => "/levantine_arabic"}
            عربي شامي
            .small-note
              Levantine Arabic 

    -if user_signed_in?  
      .col-md-2
        %h4
          %a{:href => "/spanish"}
            Español
            .small-note
              Spanish
      .col-md-2
        %h4
          %a{:href => "/cantonese"}
            廣東話
            .small-note
              Cantonese

    .col-md-2
      %h4
        %a{:href => "/swahili"}
          Kiswahili
          .small-note
            Swahili

    -if user_signed_in?
      .col-md-2
        %h4
          %a{:href => "/french"}
            Français
            .small-note
              French
    
    -if user_signed_in?  
      .col-md-2
        %h4
          %a{:href => "/russian"}
            Pусский
            .small-note
              Russian

      .col-md-2
        %h4
          %a{:href => "/italian"}
            Italiano
            .small-note
              Italian

  %br/
  %h4
    Sections
    %br/
  .row
    - @block_lists.each do |block_list|
      .col-md-3
        %h5
          %a.scroll-link{:href => "##{block_list.title.snakecase}"}
            =block_list.title


  - @block_lists.each do |block_list|
    .language-block-list{id: "#{block_list.title.snakecase}"}
      %h3
        =block_list.title
        \|
        =link_to "View Details", block_list_path(block_list)
        -if user_signed_in?
          \|
          =link_to "Edit", edit_block_list_path(block_list)

      .table-responsive
        %table.table
          %thead
            %tr
              %th
              %th
              %th 普通话
              %th عربي شامي
              %th Español
              %th 廣東話
              %th Kiswahili
              %th Français
              %th Pусский
              %th Italiano
              %th
              %th

          %tbody

            - block_list.words.each do |word|
              %tr
                %td
                  %strong
                    = word.english
                %td
                  -if user_signed_in?
                    = link_to 'Edit', edit_word_path(word), class: "not-bold"
                %td
                  = word.mandarin
                  -if word.mandarin_notes?
                    %em
                      =word.mandarin_notes
                %td
                  = word.arabic
                  -if word.arabic_notes?
                    %br/
                    %em
                      =word.arabic_notes
                %td
                  = word.spanish
                  -if word.spanish_notes?
                    %br/
                    %em
                      =word.spanish_notes
                %td
                  = word.cantonese
                  -if word.cantonese_notes?
                    %br/
                    %em
                      =word.cantonese_notes
                %td
                  = word.swahili
                  -if word.swahili_notes?
                    %br/
                    %em
                      =word.swahili_notes
                %td
                  = word.french
                  -if word.french_notes?
                    %br/
                    %em
                      =word.french_notes
                %td
                  = word.russian
                  -if word.russian_notes?
                    %br/
                    %em
                      =word.russian_notes
                %td
                  = word.italian
                  -if word.italian_notes?
                    %br/
                    %em
                      =word.italian_notes

                %td
                  %strong
                    = word.english
                    -if user_signed_in?
                      %br/
                      = link_to 'Edit', edit_word_path(word), class: "not-bold"
                
                -if user_signed_in?
                  %td= link_to 'Destroy', word, :method => :delete, :data => { :confirm => 'Are you sure?' }

