%h1 Listing posts

%table
  %tr
    %th Title
    %th Body
    %th
    %th
    %th

  - @posts.each do |post|
    -unless post.private && !current_user
      %tr
        %td= post.title
        %td= post.body
        %td= link_to 'Show', destination_post_path(@destination)
        %td= link_to 'Edit', edit_destination_post_path(post, @destination)

%br

= link_to 'New Post', new_destination_post_path(@destination)
