= form_for @aspiration do |f|
  - if @aspiration.errors.any?
    #error_explanation
      %h2= "#{pluralize(@aspiration.errors.count, "error")} prohibited this aspiration from being saved:"
      %ul
        - @aspiration.errors.full_messages.each do |msg|
          %li= msg
          
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description, class: "form-control", placeholder: "Body", rows: "10"

  .actions
    = f.submit 'Save'
