= form_for @aspiration do |f|
  - if @aspiration.errors.any?
    #error_explanation
      %h2= "#{pluralize(@aspiration.errors.count, "error")} prohibited this aspiration from being saved:"
      %ul
        - @aspiration.errors.full_messages.each do |msg|
          %li= msg
          
  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"
  .form-group
    = f.label :description
    = f.text_area :description, class: "form-control", placeholder: "Body", rows: "10"

  .row
    .col-md-4
      = f.submit 'Save', class: "btn btn-default"
