<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd"><html lang="en"><head><meta http-equiv=Content-Type content="text/html; charset=UTF-8"><style type="text/css">
body,td,div,p,a,input {font-family: arial, sans-serif;}
</style><style type="text/css">
body, td {font-size:13px} a:link, a:active {color:#1155CC; text-decoration:none} a:hover {text-decoration:underline; cursor: pointer} a:visited{color:##6611CC} img{border:0px} pre { white-space: pre; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word; max-width: 800px; overflow: auto;} .logo { left: -7px; position: relative; }
</style></head>

<body>
<div class="bodycontainer">
<u></u>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" valign="top">
<table id="m_6368541090561098832email-canvas" class="m_6368541090561098832flex-width-100" width="600" border="0" cellpadding="0" cellspacing="0">
<tr>
<td id="m_6368541090561098832email-modules" valign="top">
<table id="m_6368541090561098832email-module-container" width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="m_6368541090561098832primary-section" align="left" style="padding:24px;width:115px;height:35px">
<a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMA%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20_ZW1sY2lkPVBULUVUTS1FTlNQQy10ZWlkMS41MTMyMy1pc3N1MS10ZXN0WC1sYW5nMTAzMy12ZXJYLW1jaWRYLXNlZ2FYLXNlZ2JYLXNlZ21YLWtleS1wYWlkLWRhdGUyMDE2MDkxOTAwMDAwMC1saW5rLXdhdmUw&amp;K=pt7oLVL-2awqkU9ND4SPvw" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMA%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20_ZW1sY2lkPVBULUVUTS1FTlNQQy10ZWlkMS41MTMyMy1pc3N1MS10ZXN0WC1sYW5nMTAzMy12ZXJYLW1jaWRYLXNlZ2FYLXNlZ2JYLXNlZ21YLWtleS1wYWlkLWRhdGUyMDE2MDkxOTAwMDAwMC1saW5rLXdhdmUw%26K%3Dpt7oLVL-2awqkU9ND4SPvw&amp;source=gmail&amp;ust=1479140221820000&amp;usg=AFQjCNGYMvsAHVow6vkgzetznAnCL-j5ig">
<img alt="Expedia.com" src="https://ci5.googleusercontent.com/proxy/WnNyDLV_anYP4Rj1LZujpFfkQC4QbXjQfRwd17MWoym4sJl9GFb35slm_11SsMnx6BAIwqH8GEaIPEabHnH_IUfFJdFoOcQjXfnLasv9Jr_57m05GbUP=s0-d-e1-ft#https://www.expedia.com/_dms/email/logo.png?locale=en_US&amp;siteid=1" border="0">
</a>
</td>
</tr>
<tr>
<td valign="top" align="center">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td id="m_6368541090561098832thank-you-header-section" class="m_6368541090561098832primary-section" align="left" style="padding:24px;padding-top:0px;padding-bottom:6px">
<span class="m_6368541090561098832header-1" style="font-family:HelveticaNeue,Helvetica;font-size:25px;color:#1f1f1f;line-height:30px">
Thanks! </span>
</td>
</tr>
<tr>
<td id="m_6368541090561098832confirmation-message-section" class="m_6368541090561098832primary-section" align="left" style="color:#477a00;padding:24px;padding-top:0px">
<span class="m_6368541090561098832large-text" style="font-family:HelveticaNeue,Helvetica;font-size:18px">
Your reservation is booked and confirmed. There is no need to call us to reconfirm this reservation.
</span>
</td>
</tr>
</table>
<table id="m_6368541090561098832trip-details-content" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td class="m_6368541090561098832primary-section" align="left" style="padding:24px">
<table class="m_6368541090561098832hotel-content" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td id="m_6368541090561098832trip-title-section" class="m_6368541090561098832secondary-section" align="left" style="padding-bottom:12px">
<span class="m_6368541090561098832header-2" style="font-family:HelveticaNeue,Helvetica;font-size:20px;color:#00355f;line-height:24px"><%=@city %></span>
</td>
</tr>
<tr>
<td id="m_6368541090561098832trip-dates-section" class="m_6368541090561098832secondary-section" align="left" style="padding-bottom:0px">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b"><%=@departure_date %> - <%=@return_date %></span>
</td>
</tr>
</table> </td>
</tr>
<tr>
<td class="m_6368541090561098832hr-section" align="left" style="padding-left:24px;padding-right:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
<tr>
<td class="m_6368541090561098832hr-section" align="left" style="padding-left:24px;padding-right:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
<tr>
<td class="m_6368541090561098832primary-section" align="left" style="padding-left:24px;padding-right:24px">
<table class="m_6368541090561098832hotel-content" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td id="m_6368541090561098832trip-title-section" class="m_6368541090561098832secondary-section" align="left" style="padding-bottom:24px">
<span style="font-family:HelveticaNeue,Helvetica;font-size:17px;color:#58738a;line-height:24px">
See live updates to your itinerary, anywhere and anytime. </span>
</td>
</tr>
<tr>
<td class="m_6368541090561098832secondary-section" align="left" style="padding-bottom:18px">
<table align="left" cellpadding="15" cellspacing="0">
<tr>
<td class="m_6368541090561098832brand-button" bgcolor="#FFCA00" align="center" style="border-radius:3px;border:1px solid #d3a825;border-bottom:2px solid #a7861b;padding:15px 18px 15px 18px">
<a class="m_6368541090561098832brand-button" href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMQ%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vdHJpcHMvYjc5OTJiMmItNDcwNy00M2VlLWFlODAtYjA2NThlZjczMjliP3JmcnI9RkxULklUSU4uUkUuU0VFSVRJTiZlbWxjaWQ9UFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQtZGF0ZTIwMTYwOTE5MDAwMDAwLWxpbmstd2F2ZTA&amp;K=3_ZcgEPVIkp-kK9Hwq_lbA" style="text-decoration:none;font-family:HelveticaNeue,Helvetica;font-size:18px;color:#3d3100;display:block;font-weight:bold" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMQ%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vdHJpcHMvYjc5OTJiMmItNDcwNy00M2VlLWFlODAtYjA2NThlZjczMjliP3JmcnI9RkxULklUSU4uUkUuU0VFSVRJTiZlbWxjaWQ9UFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQtZGF0ZTIwMTYwOTE5MDAwMDAwLWxpbmstd2F2ZTA%26K%3D3_ZcgEPVIkp-kK9Hwq_lbA&amp;source=gmail&amp;ust=1479140221820000&amp;usg=AFQjCNHHdal3XLDx-zNJ4g5dUg5zEhvRgQ">
See your itinerary </a>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td class="m_6368541090561098832secondary-section" align="left" style="padding-bottom:18px">
<span style="font-family:HelveticaNeue,Helvetica;font-size:17px;color:#58738a">
Or get the free app: </span>
</td>
</tr>
<tr>
<td id="m_6368541090561098832online-trip-button-container" class="m_6368541090561098832secondary-section" align="left">
<table align="left" cellspacing="0">
<tr>
<td class="m_6368541090561098832mobile-button" align="left" style="padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:12px">
<a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMg%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vYXBwP2VtbGNpZD1QVC1FVE0tRU5TUEMtdGVpZDEuNTEzMjMtaXNzdTEtdGVzdFgtbGFuZzEwMzMtdmVyWC1tY2lkWC1zZWdhWC1zZWdiWC1zZWdtWC1rZXktcGFpZC1kYXRlMjAxNjA5MTkwMDAwMDAtbGluay13YXZlMA&amp;K=c97qXrpoOxdegkjM7XBzqA" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMg%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vYXBwP2VtbGNpZD1QVC1FVE0tRU5TUEMtdGVpZDEuNTEzMjMtaXNzdTEtdGVzdFgtbGFuZzEwMzMtdmVyWC1tY2lkWC1zZWdhWC1zZWdiWC1zZWdtWC1rZXktcGFpZC1kYXRlMjAxNjA5MTkwMDAwMDAtbGluay13YXZlMA%26K%3Dc97qXrpoOxdegkjM7XBzqA&amp;source=gmail&amp;ust=1479140221821000&amp;usg=AFQjCNF-ZRC71qLBPH7jHDmmplmvBArErw">
<img style="height:40px" src="https://ci6.googleusercontent.com/proxy/x2FJzKLF5W3UhOIuKyGxgUA0ebCDEY8dWRpqjEAWwl8ixURjLrLdlisGMc8Ad5G4wTV7hRUeTJuTga2XH7q7MgMubb0mTfKSlk0MmPU_-TzYtOZkfKpxpQc63fJpuK3GO5UdgoEhs3TUqn20BGQPLmTrvlf0cvvJPkXWvkzaLcQqBeKXDrgxn8IYQ7cCgUgRG8F6cBk=s0-d-e1-ft#https://images.trvl-media.com/media/content/expus/graphics/promos/media_lounge/download_on_the_app_store_badge_en_us_135x40.png">
</a>
</td>
<td class="m_6368541090561098832mobile-button" align="left" style="padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:12px">
<a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMw%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vYXBwP2VtbGNpZD1QVC1FVE0tRU5TUEMtdGVpZDEuNTEzMjMtaXNzdTEtdGVzdFgtbGFuZzEwMzMtdmVyWC1tY2lkWC1zZWdhWC1zZWdiWC1zZWdtWC1rZXktcGFpZC1kYXRlMjAxNjA5MTkwMDAwMDAtbGluay13YXZlMA&amp;K=Qx_Sm9_sEZfGqfF9hrvufA" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMw%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vYXBwP2VtbGNpZD1QVC1FVE0tRU5TUEMtdGVpZDEuNTEzMjMtaXNzdTEtdGVzdFgtbGFuZzEwMzMtdmVyWC1tY2lkWC1zZWdhWC1zZWdiWC1zZWdtWC1rZXktcGFpZC1kYXRlMjAxNjA5MTkwMDAwMDAtbGluay13YXZlMA%26K%3DQx_Sm9_sEZfGqfF9hrvufA&amp;source=gmail&amp;ust=1479140221821000&amp;usg=AFQjCNEBtmyHp4VwOdhWkOPApG6cM-I7LA">
<img style="height:40px" src="https://ci4.googleusercontent.com/proxy/pewvBHUUsH-SM1A_v64yQaURlvmO8bEikM_tJNc853CTcA6KTK011vTL8Vzmq_Tcr20zT7rR2gAXNmxg4KitcHtx0O9mqBHC0Z-gK0U3cQv0go_0Qf10d2YZS-1XSBWe1SrPuQf7_oJ1vYVuMJPxzCnWXkuQIiELI62Xfz9vuho=s0-d-e1-ft#https://images.trvl-media.com/media/content/expus/graphics/promos/mobile-download/android_button_en_us.png">
</a>
</td>
<td class="m_6368541090561098832mobile-button" align="left" style="padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:12px">
<a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3ANA%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vYXBwP2VtbGNpZD1QVC1FVE0tRU5TUEMtdGVpZDEuNTEzMjMtaXNzdTEtdGVzdFgtbGFuZzEwMzMtdmVyWC1tY2lkWC1zZWdhWC1zZWdiWC1zZWdtWC1rZXktcGFpZC1kYXRlMjAxNjA5MTkwMDAwMDAtbGluay13YXZlMA&amp;K=eHtoel1jyUeRUw8-68ZhFQ" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253ANA%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vYXBwP2VtbGNpZD1QVC1FVE0tRU5TUEMtdGVpZDEuNTEzMjMtaXNzdTEtdGVzdFgtbGFuZzEwMzMtdmVyWC1tY2lkWC1zZWdhWC1zZWdiWC1zZWdtWC1rZXktcGFpZC1kYXRlMjAxNjA5MTkwMDAwMDAtbGluay13YXZlMA%26K%3DeHtoel1jyUeRUw8-68ZhFQ&amp;source=gmail&amp;ust=1479140221821000&amp;usg=AFQjCNExrQIWIoEUA_Jc9Yauj5UbsbrNVw">
<img style="height:40px" src="https://ci4.googleusercontent.com/proxy/MLiqvvqHLiDV35x2dw0IKYFcI6POnQOkctj1KLerDJL2Ca-9w8uyxKCiHYDzkTDPTq3rJTidGoQb9lTiKzaKeoRWBL-XnLKU4hEL3HW5ci7GcfKRXezAHRTXji7VdGXBGDr44iT8lkuHnJoc67vBzIEURlwVDQDjtbGQ5hqvPso=s0-d-e1-ft#https://images.trvl-media.com/media/content/expus/email/2016/global/itin/english_get_it_from_ms_125x45.png">
</a>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td class="m_6368541090561098832hr-section" align="left" style="padding-left:24px;padding-right:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
<tr>
<td class="m_6368541090561098832primary-section" align="left" style="padding:24px">
<table class="m_6368541090561098832hotel-content" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td align="left">
<table class="m_6368541090561098832hotel-content" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td class="m_6368541090561098832secondary-section" align="left" style="font-family:HelveticaNeue,Helvetica;padding-bottom:18px">
<span class="m_6368541090561098832header-2" style="font-size:20px;color:#6b6b6b">
Before you go </span>
</td>
</tr>
<tr>
<td align="left">
<li style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;padding-bottom:12px;line-height:21px">
<strong>E-ticket:</strong>
This email can be used as an E-ticket. </li>

<li style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;padding-bottom:12px;line-height:21px">
Proof of citizenship is required for international travel. Be sure to bring all necessary documentation (e.g. passport, visa, transit permit). To learn more, visit our <a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3ANQ%3A%3AaHR0cDovL3Zpc2FjZW50cmFsLmNvbS9pbmRleC5waHA_bG9naW49ODUwMDEmdXRtX2NhbXBhaWduPUV4cGVkaWEmdXRtX21lZGl1bT0xJnV0bV9zb3VyY2U9VVMmcmZycj1GTFQuSXRpbi5WaXNhU2l0ZQ&amp;K=eHZMHx2QveSYe4tt9KhDTw" class="m_6368541090561098832tooltip" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253ANQ%253A%253AaHR0cDovL3Zpc2FjZW50cmFsLmNvbS9pbmRleC5waHA_bG9naW49ODUwMDEmdXRtX2NhbXBhaWduPUV4cGVkaWEmdXRtX21lZGl1bT0xJnV0bV9zb3VyY2U9VVMmcmZycj1GTFQuSXRpbi5WaXNhU2l0ZQ%26K%3DeHZMHx2QveSYe4tt9KhDTw&amp;source=gmail&amp;ust=1479140221821000&amp;usg=AFQjCNE8ifBginaL8FjjI-vFM8BnPdlUVg">Visa and Passport page <span class="m_6368541090561098832visually-hidden" style="display:none">(Opens a new window) </span></a>.
</li>
<li style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;padding-bottom:12px;line-height:21px">
Remember to bring your itinerary and government-issued photo ID for airport check-in and security.
</li>
</td>
</tr>
<tr>
<td align="left">
<div style="font-family:HelveticaNeue,Helvetica;font-size:17px;color:#6b6b6b;font-weight:bold;line-height:21px;padding-bottom:12px">
Contact the airline to confirm: </div>
<li style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;padding-bottom:12px;line-height:21px">
specific seat assignments </li>
<li style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;padding-bottom:12px;line-height:21px">
special meals </li>
<li style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;padding-bottom:12px;line-height:21px">
frequent flyer point awards </li>
<li style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;line-height:21px">
special assistance requests </li>
</td>
</tr></table></td>
</tr>
</table> </td>
</tr>
<tr>
<td align="left">
<table class="m_6368541090561098832hotel-content" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td class="m_6368541090561098832hr-container" align="left" style="padding-top:24px;padding-bottom:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
<tr>
<td class="m_6368541090561098832secondary-section" align="left" style="font-family:HelveticaNeue,Helvetica;padding-bottom:24px">
<span class="m_6368541090561098832header-2" style="font-size:20px;color:#6b6b6b">
Flight overview </span>
</td>
</tr>
<tr>
<td class="m_6368541090561098832secondary-section" valign="top" style="padding-bottom:12px">
<table class="m_6368541090561098832flex-width-100" cellpadding="0" cellspacing="0" border="0">
<tr>
<td class="m_6368541090561098832split" valign="top" align="left" style="padding-right:24px">
<img id="m_6368541090561098832responsive-img" width="164" height="149" src="https://ci3.googleusercontent.com/proxy/NYaB370hIj9aH4RZIKcFCk0fJ5IB7QAujay6grEIvS0eqAqLdWASC_dmpwQCxBO0he2UM-vDRRzCx7SSZV1zTXncOfuaJZRv3sLy4p01z_UjWsfbqWRzs8aO5e3L=s0-d-e1-ft#https://images.trvl-media.com/ads/TEST/2014/ITINTEAM/flight-default.jpg" style="width:264px;height:149px">
<div class="m_6368541090561098832content-text" width="264" style="padding-top:12px;width:264px;font-family:HelveticaNeue,Helvetica;font-size:15px;color:#477a00;line-height:21px;font-weight:bolder">
Your reservation is booked and confirmed. There is no need to call us to reconfirm this reservation.
</div>
</td>
<td class="m_6368541090561098832split" valign="top">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
<td>
<table id="m_6368541090561098832hotel-name-and-info-section" width="100%" border="0" cellpadding="0" cellspacing="0">
<tr style="padding-bottom:18px">
<td id="m_6368541090561098832hotel-name" class="m_6368541090561098832header-4" align="left" valign="top">
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bold;line-height:21px">
Travel dates </div>
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:normal;padding-bottom:6px;line-height:24px">
<%=@departure_date %> - <%=@return_date %>
</div>
</td>
</tr>
<tr>
<td id="m_6368541090561098832hotel-name" class="m_6368541090561098832header-4" align="left" valign="top">
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bold;line-height:21px">
Itinerary # </div>
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:normal;padding-bottom:6px;line-height:24px">
<p style="text-decoration:none;color:#6b6b6b"><%= @itinerary %></p>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="left" valign="top" style="font-size:15px;padding-bottom:12px">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left">
<div class="m_6368541090561098832header-4" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bold;line-height:21px">
Confirmation </div>
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;line-height:21px">
<%= @confirmation %> (<%=@airline %>)
</div>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="left" valign="top" style="font-size:15px;padding-bottom:12px">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left">
<div class="m_6368541090561098832header-4" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bold;line-height:21px">
Booking ID </div>
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;line-height:21px">
<%= @booking %>
</div>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="left" valign="top" style="font-size:15px;padding-bottom:12px">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left">
<div class="m_6368541090561098832header-4" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bold;line-height:21px">
Ticket # </div>
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;line-height:21px">
<%= @ticket %> (<%= @passenger_name %>)
</div>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="left" valign="top" style="font-size:15px">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left">
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;line-height:21px">
<a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3ANg%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vZmxpZ2h0LWNoYW5nZS1nZHM_aXRpbm51bWJlcj0xMTQ2OTQ0ODA0Njc5JmFybD0yODM4NTQ3NzkmY25hbWU9VHVya2lzaCtBaXJsaW5lcw&amp;K=5zu8dqdG-wTG46wI8IKZPA" style="text-decoration:none;color:#0065b8" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253ANg%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vZmxpZ2h0LWNoYW5nZS1nZHM_aXRpbm51bWJlcj0xMTQ2OTQ0ODA0Njc5JmFybD0yODM4NTQ3NzkmY25hbWU9VHVya2lzaCtBaXJsaW5lcw%26K%3D5zu8dqdG-wTG46wI8IKZPA&amp;source=gmail&amp;ust=1479140221821000&amp;usg=AFQjCNEg3Ybg4UjLY5jt3cWTtV6Z6sAkTw">Change</a> or <a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3ANw%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vZmxpZ2h0LWNhbmNlbC1leGNoYW5nZT9pdGlubnVtYmVyPTExNDY5NDQ4MDQ2NzkmYXJsPTI4Mzg1NDc3OSZib29raW5naWQ9NEtRNDJW&amp;K=5PVEkP3dTjbB7LIaZ1VAqg" style="text-decoration:none;color:#0065b8" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253ANw%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vZmxpZ2h0LWNhbmNlbC1leGNoYW5nZT9pdGlubnVtYmVyPTExNDY5NDQ4MDQ2NzkmYXJsPTI4Mzg1NDc3OSZib29raW5naWQ9NEtRNDJW%26K%3D5PVEkP3dTjbB7LIaZ1VAqg&amp;source=gmail&amp;ust=1479140221821000&amp;usg=AFQjCNGzMJZlqk-2dEXEFeSX2Qs2Tsslsw">cancel</a> this reservation </div>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td style="padding-top:12px">

</td>
</tr>
<tr>
<td style="padding-top:12px">
<span style="padding-top:12px">
</span>
</td>
</tr>
<tr>
<td style="padding-top:12px">

</td>
</tr>
</table>
<table class="m_6368541090561098832hotel-content" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td class="m_6368541090561098832hr-container" align="left" style="padding-top:24px;padding-bottom:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
<tr>
<td class="m_6368541090561098832secondary-section" align="left" style="font-family:HelveticaNeue,Helvetica;padding-bottom:19px">
<span style="padding-right:6px">
<img height="17" width="17" style="height:17px;width:17px" src="https://ci5.googleusercontent.com/proxy/IdCKbZoS7nGh5hBSNsZ26jg_3dkiPLUPQFdXswjz-rW_-lb6_9_qiVwPvwiQB5nF9_stC76RW3UACKHu-0wqGX78jChc8ICkhTFJCzb6auyP9o_DIqn4pfzCGMHup4LmxmR-rB4P2Y3k9KlcsB3gB0HdRVlvHbTlvRk4qqqAliaeTwPRcnFXjfI=s0-d-e1-ft#http://media.expedia.com/media/content/expus/graphics/static_content/fusion/v0.1b/images/airlines/alt/flight@2x.png">
</span>
<span style="font-size:17px;color:#6b6b6b;font-weight:bold">
Departure </span>
<span style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
<%= @departure_date %>

</span>
</td>
</tr>
<tr>
<td style="padding-bottom:6px">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
<%= @airline %> <%= @departure_flight_number %>
</span>
</td>
</tr>
<tr>
<td align="left" style="padding-bottom:12px">
<table id="m_6368541090561098832check-in-out-time-section" class="m_6368541090561098832flex-width-100" cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr style="padding-bottom:2px">
<td id="m_6368541090561098832check-in-container" class="m_6368541090561098832split" align="left" width="50%" valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left" valign="top">
<div style="font-family:HelveticaNeue,Helvetica;font-size:17px;color:#6b6b6b;font-weight:bold;line-height:21px">
<%= @origin_city %> (<%= @origin_city_code %>)
</div>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
<%= @departure_time %>
</span>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bolder">
Terminal: <span style="font-weight:normal"><%= @departure_terminal %></span> </span>
</td>
</tr>
</table>
</td>
<td class="m_6368541090561098832split" style="padding-right:24px;padding-bottom:18px;padding-top:12px" valign="top">
<img alt="flight to" height="15" width="15" src="https://ci6.googleusercontent.com/proxy/YLDe9MVHyApssxwMKxqYSpnnWlb3v1FgONNj8fOH-3hdr7fBbk4pgetgkPBiiU3C0knNtXK7HuTk5G5yvOVkl-EL1FEGgG7XmAMk7uMeiLppYy_eqJsGHbLDrWTOmLXCLddcEKF4_JLZZIsgKfcmk2Bp3kmxukFcojt4iO8LsZHGGk9KmZCzXw=s0-d-e1-ft#http://media.expedia.com/media/content/expus/graphics/static_content/fusion/v0.1b/images/airlines/alt/arrow@2x.png" style="height:15px;width:15px">
</td>
<td class="m_6368541090561098832split" align="left" valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left" valign="top" width="50%">
<div style="font-family:HelveticaNeue,Helvetica;font-size:17px;color:#6b6b6b;font-weight:bold;line-height:21px">
<%= @destination_city %> (<%= @destination_city_code %>)
</div>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
<%= @departure_landing_time %> 
</span>
</td>
</tr>
<tr>
<td align="left">
<p class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bolder">
Terminal: <span style="font-weight:normal"><%= @departure_landing_terminal %></span> </p>
</td>
</tr>
<tr>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bolder">
Class: <span style="font-weight:normal">Economy / Coach</span> (U)
</span>
</td>
</tr>
<tr>
<td>
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
<%= @departure_duration %> </span>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bolder">
<span>
Seat: <span style="font-weight:normal">
| Confirm or change seats with the airline* </span>
</span>
</span>
</td>
</tr>
<tr width="50%">
<td>
<tr>
<td align="left" width="50%" style="padding-bottom:18px;padding-top:18px;padding-right:50%">
</td>
</tr>

<% if @multileg %>
<tr>
<td style="text-align:left" align="left">
<img height="15" width="15" style="height:15px;width:15px;padding-right:5px" src="https://ci5.googleusercontent.com/proxy/oBv1tj3GzuN9lNwP_Xw6jgq0oZQcyDIFmsurYv2gmtb4DfF0_t3T58z0jLHl8jfvst-6IXRIvGicWw0Ar6wvyXfIK0AscqPCXBItOpGuDwsZB8N3VE9NISqOigg4rlxbMdaYp-vZfPe1945laSev_0A2rfAuaoCQra0KjJpzMCim7UiVisv-97KkYEzs1220PQ=s0-d-e1-ft#http://media.expedia.com/media/content/expus/graphics/static_content/fusion/v0.1b/images/airlines/alt/uitk-icon-time@2x.png">
<span style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
3h 25m stop Istanbul (IST) </span>
</td>
</tr>
<tr>
<td align="left" width="50%" style="padding-bottom:18px;padding-top:18px;padding-right:50%">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
</td>
</tr>
<tr>
<td style="padding-bottom:6px">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
Turkish Airlines 607
</span>
</td>
</tr>
<tr>
<td align="left" style="padding-bottom:12px">
<table id="m_6368541090561098832check-in-out-time-section" class="m_6368541090561098832flex-width-100" cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr style="padding-bottom:2px">
<td id="m_6368541090561098832check-in-container" class="m_6368541090561098832split" align="left" width="50%" valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left" valign="top">
<div style="font-family:HelveticaNeue,Helvetica;font-size:17px;color:#6b6b6b;font-weight:bold;line-height:21px">
Istanbul (IST)
</div>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
7:40 PM
</span>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bolder">
Terminal: <span style="font-weight:normal">I</span> </span>
</td>
</tr>
</table>
</td>
<td class="m_6368541090561098832split" style="padding-right:24px;padding-bottom:18px;padding-top:12px" valign="top">
<img alt="flight to" height="15" width="15" src="https://ci6.googleusercontent.com/proxy/YLDe9MVHyApssxwMKxqYSpnnWlb3v1FgONNj8fOH-3hdr7fBbk4pgetgkPBiiU3C0knNtXK7HuTk5G5yvOVkl-EL1FEGgG7XmAMk7uMeiLppYy_eqJsGHbLDrWTOmLXCLddcEKF4_JLZZIsgKfcmk2Bp3kmxukFcojt4iO8LsZHGGk9KmZCzXw=s0-d-e1-ft#http://media.expedia.com/media/content/expus/graphics/static_content/fusion/v0.1b/images/airlines/alt/arrow@2x.png" style="height:15px;width:15px">
</td>
<td class="m_6368541090561098832split" align="left" valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left" valign="top" width="50%">
<div style="font-family:HelveticaNeue,Helvetica;font-size:17px;color:#6b6b6b;font-weight:bold;line-height:21px">
Nairobi (NBO)
</div>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
2:25 AM
</span>
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#d31120">
+1 day </span>
</td>
</tr>
<tr>
<td align="left">
<p class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bolder">
Terminal: <span style="font-weight:normal">1C</span> </p>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#d31120">
Arrives on Oct 4, 2016 </span>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bolder">
Class: <span style="font-weight:normal">Economy / Coach</span> (U)
</span>
</td>
</tr>
<tr>
<td>
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
6h 45m duration </span>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bolder">
<span>
Seat: <span style="font-weight:normal">
| Confirm or change seats with the airline* </span>
</span>
</span>
</td>
</tr>
<% end %>
</table>
<table class="m_6368541090561098832hotel-content" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td class="m_6368541090561098832hr-container" align="left" style="padding-top:24px;padding-bottom:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
<tr>
<td align="left" style="font-family:HelveticaNeue,Helvetica;padding-bottom:12px">
<span style="font-size:17px;color:#6b6b6b;font-weight:bold">
Total Duration </span>
</td>
</tr>
<tr>
<td>
<span style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
<%= @departure_duration %>
</span>
</td>
</tr>
</table>
<table class="m_6368541090561098832hotel-content" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td class="m_6368541090561098832hr-container" align="left" style="padding-top:24px;padding-bottom:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
<tr>
<td class="m_6368541090561098832secondary-section" align="left" style="font-family:HelveticaNeue,Helvetica;padding-bottom:19px">
<span style="padding-right:6px">
<img height="17" width="17" style="height:17px;width:17px" src="https://ci5.googleusercontent.com/proxy/IdCKbZoS7nGh5hBSNsZ26jg_3dkiPLUPQFdXswjz-rW_-lb6_9_qiVwPvwiQB5nF9_stC76RW3UACKHu-0wqGX78jChc8ICkhTFJCzb6auyP9o_DIqn4pfzCGMHup4LmxmR-rB4P2Y3k9KlcsB3gB0HdRVlvHbTlvRk4qqqAliaeTwPRcnFXjfI=s0-d-e1-ft#http://media.expedia.com/media/content/expus/graphics/static_content/fusion/v0.1b/images/airlines/alt/flight@2x.png">
</span>
<span style="font-size:17px;color:#6b6b6b;font-weight:bold">
Return </span>
<span style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
<%= @return_date %>
</span>
</td>
</tr>
<tr>
<td style="padding-bottom:6px">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
<%= @airline %> <%= @return_flight_number %>
</span>
</td>
</tr>
<tr>
<td align="left" style="padding-bottom:12px">
<table id="m_6368541090561098832check-in-out-time-section" class="m_6368541090561098832flex-width-100" cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr style="padding-bottom:2px">
<td id="m_6368541090561098832check-in-container" class="m_6368541090561098832split" align="left" width="50%" valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left" valign="top">
<div style="font-family:HelveticaNeue,Helvetica;font-size:17px;color:#6b6b6b;font-weight:bold;line-height:21px">
<%= @destination_city %> (<%= @destination_city_code %>)
</div>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
<%= @return_time %>
</span>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bolder">
Terminal: <span style="font-weight:normal"><%= @return_terminal %></span> </span>
</td>
</tr>
</table>
</td>
<td class="m_6368541090561098832split" style="padding-right:24px;padding-bottom:18px;padding-top:12px" valign="top">
<img alt="flight to" height="15" width="15" src="https://ci6.googleusercontent.com/proxy/YLDe9MVHyApssxwMKxqYSpnnWlb3v1FgONNj8fOH-3hdr7fBbk4pgetgkPBiiU3C0knNtXK7HuTk5G5yvOVkl-EL1FEGgG7XmAMk7uMeiLppYy_eqJsGHbLDrWTOmLXCLddcEKF4_JLZZIsgKfcmk2Bp3kmxukFcojt4iO8LsZHGGk9KmZCzXw=s0-d-e1-ft#http://media.expedia.com/media/content/expus/graphics/static_content/fusion/v0.1b/images/airlines/alt/arrow@2x.png" style="height:15px;width:15px">
</td>
<td class="m_6368541090561098832split" align="left" valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left" valign="top" width="50%">
<div style="font-family:HelveticaNeue,Helvetica;font-size:17px;color:#6b6b6b;font-weight:bold;line-height:21px">
<%= @origin_city %> (<%= @origin_city_code %>)
</div>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
<%= @return_landing_time %>
</span>
</td>
</tr>
<tr>
<td align="left">
<p class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bolder">
Terminal: <span style="font-weight:normal"><%= @return_landing_terminal %></span> </p>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bolder">
Class: <span style="font-weight:normal">Economy / Coach</span> (U)
</span>
</td>
</tr>
<tr>
<td>
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
<%= @return_duration %> </span>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bolder">
<span>
Seat: <span style="font-weight:normal">
| Confirm or change seats with the airline* </span>
</span>
</span>
</td>
</tr>
<tr width="50%">
<td>
<tr>
<td align="left" width="50%" style="padding-bottom:18px;padding-top:18px;padding-right:50%">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>

<% if @multileg %>

<tr>
<td style="text-align:left" align="left">
<img height="15" width="15" style="height:15px;width:15px;padding-right:5px" src="https://ci5.googleusercontent.com/proxy/oBv1tj3GzuN9lNwP_Xw6jgq0oZQcyDIFmsurYv2gmtb4DfF0_t3T58z0jLHl8jfvst-6IXRIvGicWw0Ar6wvyXfIK0AscqPCXBItOpGuDwsZB8N3VE9NISqOigg4rlxbMdaYp-vZfPe1945laSev_0A2rfAuaoCQra0KjJpzMCim7UiVisv-97KkYEzs1220PQ=s0-d-e1-ft#http://media.expedia.com/media/content/expus/graphics/static_content/fusion/v0.1b/images/airlines/alt/uitk-icon-time@2x.png">
<span style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
3h 5m stop Istanbul (IST) </span>
</td>
</tr>
<tr>
<td align="left" width="50%" style="padding-bottom:18px;padding-top:18px;padding-right:50%">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
</td>
</tr>
<tr>
<td style="padding-bottom:6px">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
Turkish Airlines 607
</span>
</td>
</tr>
<tr>
<td align="left" style="padding-bottom:12px">
<table id="m_6368541090561098832check-in-out-time-section" class="m_6368541090561098832flex-width-100" cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr style="padding-bottom:2px">
<td id="m_6368541090561098832check-in-container" class="m_6368541090561098832split" align="left" width="50%" valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left" valign="top">
<div style="font-family:HelveticaNeue,Helvetica;font-size:17px;color:#6b6b6b;font-weight:bold;line-height:21px">
Istanbul (IST)
</div>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
7:40 PM
</span>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bolder">
Terminal: <span style="font-weight:normal">I</span> </span>
</td>
</tr>
</table>
</td>
<td class="m_6368541090561098832split" style="padding-right:24px;padding-bottom:18px;padding-top:12px" valign="top">
<img alt="flight to" height="15" width="15" src="https://ci6.googleusercontent.com/proxy/YLDe9MVHyApssxwMKxqYSpnnWlb3v1FgONNj8fOH-3hdr7fBbk4pgetgkPBiiU3C0knNtXK7HuTk5G5yvOVkl-EL1FEGgG7XmAMk7uMeiLppYy_eqJsGHbLDrWTOmLXCLddcEKF4_JLZZIsgKfcmk2Bp3kmxukFcojt4iO8LsZHGGk9KmZCzXw=s0-d-e1-ft#http://media.expedia.com/media/content/expus/graphics/static_content/fusion/v0.1b/images/airlines/alt/arrow@2x.png" style="height:15px;width:15px">
</td>
<td class="m_6368541090561098832split" align="left" valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left" valign="top" width="50%">
<div style="font-family:HelveticaNeue,Helvetica;font-size:17px;color:#6b6b6b;font-weight:bold;line-height:21px">
Nairobi (NBO)
</div>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
2:25 AM
</span>
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#d31120">
+1 day </span>
</td>
</tr>
<tr>
<td align="left">
<p class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bolder">
Terminal: <span style="font-weight:normal">1C</span> </p>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#d31120">
Arrives on Oct 4, 2016 </span>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bolder">
Class: <span style="font-weight:normal">Economy / Coach</span> (U)
</span>
</td>
</tr>

<tr>
<td>
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
6h 45m duration </span>
</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bolder">
<span>
Seat: <span style="font-weight:normal">
| Confirm or change seats with the airline* </span>
</span>
</span>
</td>
</tr>
</table>
<table class="m_6368541090561098832hotel-content" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td class="m_6368541090561098832hr-container" align="left" style="padding-top:24px;padding-bottom:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
<% end %>

<tr>
<td align="left" style="font-family:HelveticaNeue,Helvetica;padding-bottom:12px">
<span style="font-size:17px;color:#6b6b6b;font-weight:bold">
Total Duration </span>
</td>
</tr>
<tr>
<td>
<span style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b">
<%= @return_duration %>
</span>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="left">
<table class="m_6368541090561098832hotel-content" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td class="m_6368541090561098832hr-container" align="left" style="padding-top:24px;padding-bottom:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
<tr>
<td class="m_6368541090561098832secondary-section" align="left" style="font-family:HelveticaNeue,Helvetica;padding-bottom:24px">
<span class="m_6368541090561098832header-2" style="font-size:20px;color:#6b6b6b;line-height:24px">
Traveler(s) </span>
</td>
</tr>
<tr style="padding-bottom:18px">
<td align="left" valign="top" style="padding-bottom:18px">
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bold;line-height:21px;padding-bottom:6px">
<%= @passenger_name %>
</div>

</td>
</tr>
<tr>
<td>
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bold;line-height:21px;padding-bottom:6px">
Special requests </div>
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;line-height:21px;color:#6b6b6b">
Seat assignments, special meals, frequent flyer point awards and special assistance request should be confirmed directly with the airline. </div>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="left">
<table class="m_6368541090561098832flex-width-100" width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
<td class="m_6368541090561098832split" valign="top" align="left" width="50%">
<table class="m_6368541090561098832hotel-content" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td class="m_6368541090561098832hr-container" align="left" style="padding-top:24px;padding-bottom:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
<tr>
<td class="m_6368541090561098832secondary-section" align="left" style="font-family:HelveticaNeue,Helvetica;padding-bottom:24px">
<span class="m_6368541090561098832header-2" style="font-size:20px;color:#6b6b6b;line-height:24px">
Price summary </span>
</td>
</tr>
<tr>
<td>
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;line-height:21px;color:#6b6b6b;padding-bottom:18px">
Traveler 1: Adult <%= @flight_cost %><br>
</div>
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;line-height:21px;font-weight:bolder">Flight Total: <%= @flight_cost %></div>
</td>
</tr>
<tr>
<td>
</td>
</tr>
<tr>
<td>
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:12px;line-height:21px;color:#6b6b6b">
All prices are quoted in USD </div>
</td>
</tr>
</table> </td>
<td class="m_6368541090561098832split" valign="top" width="50%" style="padding-top:24px">
<table id="m_6368541090561098832rewards-container" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td class="m_6368541090561098832hr-container" align="left" style="padding-top:0px;padding-bottom:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
<tr>
<td class="m_6368541090561098832secondary-section" align="left" style="font-family:HelveticaNeue,Helvetica;padding-bottom:24px">
<span class="m_6368541090561098832header-2" style="font-size:20px;color:#6b6b6b">
<div id="m_6368541090561098832rewards">
<img alt="" src="https://ci4.googleusercontent.com/proxy/YDA3Z03j9Cgnm9jSX6DQEnLVAWRXTaKVA9VeMrOT8-waFKrSe_SRRNsoCP9bXRAbMgq5Isi_d_4nJ9t4_3fw58adt5T9yq0JBYpwAuG5KwhDDLCGHheE4u_WMbFvZJVXTbkSQR8D0u2TQq-JMxgdwdTuFu7A1g=s0-d-e1-ft#https://www.expedia.com/_dms/loyalty/rewards/icon-logo/logo.png?locale=en_US&amp;siteid=1&amp;path=email" border="0">
</div>
</span>
</td>
</tr>
<tr>
<td align="left" style="padding-bottom:18px">

</td>
</tr>
<tr>
<td align="left">
<span class="m_6368541090561098832small-content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b"><a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AOQ%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vdXNlci9yZXdhcmRzP2xvY2FsZT1lbl9VUw&amp;K=0EhSwJ3DSqcLB_ITGDjwdg" style="color:#0065b8;text-decoration:none;font-size:15px;font-family:HelveticaNeue,Helvetica" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AOQ%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vdXNlci9yZXdhcmRzP2xvY2FsZT1lbl9VUw%26K%3D0EhSwJ3DSqcLB_ITGDjwdg&amp;source=gmail&amp;ust=1479140221822000&amp;usg=AFQjCNGHF3qrLYiP8oxaxCIUtXQ3EcUfPw">See all your rewards</a></span>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="left">
<table class="m_6368541090561098832hotel-content" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td class="m_6368541090561098832hr-container" align="left" style="padding-top:24px;padding-bottom:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
<tr>
<td class="m_6368541090561098832secondary-section" align="left" style="font-family:HelveticaNeue,Helvetica;padding-bottom:24px">
<div class="m_6368541090561098832header-2" style="font-size:20px;color:#6b6b6b">
Travel protection </div>
</td>
</tr>
<tr>
<td>
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;line-height:21px;padding-bottom:6px">
You have not bought travel protection. </div>
</td>
</tr>
</table> </td>
</tr>
<tr>
<td align="left">
<table class="m_6368541090561098832hotel-content" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td class="m_6368541090561098832hr-container" align="left" style="padding-top:24px;padding-bottom:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
<tr>
<td class="m_6368541090561098832secondary-section" align="left" style="font-family:HelveticaNeue,Helvetica;padding-bottom:24px">
<span class="m_6368541090561098832header-2" style="font-size:20px;color:#6b6b6b">
Additional information </span>
</td>
</tr>
<tr>
<td style="padding-bottom:18px">
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bold;line-height:21px;padding-bottom:6px">
Additional fees </div>
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;line-height:21px">
The airline may charge <a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMTA%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vRmxpZ2h0cy1CYWdGZWVzP29yaWdpbmFwdD1PUkQmZGVzdGluYXRpb25hcHQ9TkJPJmNhYmluY2xhc3M9MyZta3RnY2Fycmllcj1USyZvcGNhcnJpZXI9VEsmZmFyZWJhc2lzPVVWM1hQQyZib29raW5nY2xhc3M9VSZ0cmF2ZWxEYXRlPTIwMTYtMTAtMDImZmxpZ2h0TnVtYmVyPTY&amp;K=YFSCzpvhQ0mpXSr8rm_7NA" class="m_6368541090561098832tooltip" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMTA%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vRmxpZ2h0cy1CYWdGZWVzP29yaWdpbmFwdD1PUkQmZGVzdGluYXRpb25hcHQ9TkJPJmNhYmluY2xhc3M9MyZta3RnY2Fycmllcj1USyZvcGNhcnJpZXI9VEsmZmFyZWJhc2lzPVVWM1hQQyZib29raW5nY2xhc3M9VSZ0cmF2ZWxEYXRlPTIwMTYtMTAtMDImZmxpZ2h0TnVtYmVyPTY%26K%3DYFSCzpvhQ0mpXSr8rm_7NA&amp;source=gmail&amp;ust=1479140221822000&amp;usg=AFQjCNF81xid219i6u3pOtfQK-ADDO2rVw">additional fees <span class="m_6368541090561098832visually-hidden" style="display:none">(Opens a new window) </span> </a> for checked baggage or other optional services.
</div>
</td>
</tr>
<tr>
<td style="padding-bottom:18px">
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;font-weight:bold;line-height:21px;padding-bottom:6px">
Airline rules + restrictions </div>
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;line-height:21px">
We understand that sometimes plans change. We do not charge a cancel or change fee. When the airline charges such fees in accordance with its own policies, the cost will be passed on to you.
</div>
</td>
</tr>
<tr>
<td style="padding-bottom:18px">
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;line-height:21px">
Please read the <a id="m_6368541090561098832complete_penalty_rules_for_changes_and_cancellations_link" href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMTE%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vRmFyZS1SdWxlcz90cmlwaWQ9Yjc5OTJiMmItNDcwNy00M2VlLWFlODAtYjA2NThlZjczMjli&amp;K=x1Wn7SI6a_yU9YRRc3HUgQ" class="m_6368541090561098832tooltip" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMTE%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vRmFyZS1SdWxlcz90cmlwaWQ9Yjc5OTJiMmItNDcwNy00M2VlLWFlODAtYjA2NThlZjczMjli%26K%3Dx1Wn7SI6a_yU9YRRc3HUgQ&amp;source=gmail&amp;ust=1479140221822000&amp;usg=AFQjCNGMAWDtK7eG80LIyioAJakrwdrYpA">complete penalty rules for changes and cancellations <span class="m_6368541090561098832visually-hidden" style="display:none">(Opens a new window) </span> </a> applicable to this fare.
</div>
</td>
</tr>
<tr>
<td style="padding-bottom:18px">
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;line-height:21px;font-weight:bold">
Tickets are nonrefundable, nontransferable and name changes are not allowed.
</div>
</td>
</tr>
<tr>
<td style="padding-bottom:18px">
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;line-height:21px">
Please read important information regarding <a id="m_6368541090561098832airline_liability_limitations_link" href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMTI%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vcC9pbmZvLW1haW4vd2Fyc2F3Pw&amp;K=jsGzYvt4IgdjAekg6BG5Tw" class="m_6368541090561098832tooltip" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMTI%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vcC9pbmZvLW1haW4vd2Fyc2F3Pw%26K%3DjsGzYvt4IgdjAekg6BG5Tw&amp;source=gmail&amp;ust=1479140221822000&amp;usg=AFQjCNEQQJoEU-gNy4UttfWsETCnMcrn5A">airline liability limitations<span class="m_6368541090561098832visually-hidden" style="display:none">(Opens a new window) </span></a>.
</div>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="left">
<table class="m_6368541090561098832hotel-content" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
<tr>
<td class="m_6368541090561098832hr-container" align="left" style="padding-top:24px;padding-bottom:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
<tr>
<td class="m_6368541090561098832secondary-section" align="left" style="font-family:HelveticaNeue,Helvetica;padding-bottom:24px">
<span class="m_6368541090561098832header-2" style="font-size:20px;color:#6b6b6b">
More help </span>
</td>
</tr>
<tr>
<td style="padding-bottom:18px">
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;line-height:21px">
<a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMTM%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vZmxpZ2h0LWNoYW5nZS1nZHM_aXRpbm51bWJlcj0xMTQ2OTQ0ODA0Njc5JmFybD0yODM4NTQ3NzkmY25hbWU9VHVya2lzaCtBaXJsaW5lcw&amp;K=qSxXzcnVFSCYT48jr6dbFA" style="color:#0065b8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMTM%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vZmxpZ2h0LWNoYW5nZS1nZHM_aXRpbm51bWJlcj0xMTQ2OTQ0ODA0Njc5JmFybD0yODM4NTQ3NzkmY25hbWU9VHVya2lzaCtBaXJsaW5lcw%26K%3DqSxXzcnVFSCYT48jr6dbFA&amp;source=gmail&amp;ust=1479140221822000&amp;usg=AFQjCNHLGZLkK-AkUU11F46L282ZRa5TqA">Change</a> or <a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMTQ%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vZmxpZ2h0LWNhbmNlbC1leGNoYW5nZT9pdGlubnVtYmVyPTExNDY5NDQ4MDQ2NzkmYXJsPTI4Mzg1NDc3OSZib29raW5naWQ9NEtRNDJW&amp;K=qgsHXR0hRUgL5BmbD3w15A" style="color:#0065b8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMTQ%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vZmxpZ2h0LWNhbmNlbC1leGNoYW5nZT9pdGlubnVtYmVyPTExNDY5NDQ4MDQ2NzkmYXJsPTI4Mzg1NDc3OSZib29raW5naWQ9NEtRNDJW%26K%3DqgsHXR0hRUgL5BmbD3w15A&amp;source=gmail&amp;ust=1479140221822000&amp;usg=AFQjCNEIQ1m3s-B8hMEt-Vme9X4K1ah8Vg">cancel</a> this reservation. </div>
</td>
</tr>
<tr>
<td style="padding-bottom:18px">
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;line-height:21px">
Visit our <a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMTU%3A%3AaHR0cDovL3d3dy5leHBlZGlhLmNvbS9zZXJ2aWNlLz9lbWxjaWQ9UFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQtZGF0ZTIwMTYwOTE5MDAwMDAwLWxpbmstd2F2ZTA&amp;K=9oA-J78A0-MLaqPORE7qwA" style="color:#0065b8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMTU%253A%253AaHR0cDovL3d3dy5leHBlZGlhLmNvbS9zZXJ2aWNlLz9lbWxjaWQ9UFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQtZGF0ZTIwMTYwOTE5MDAwMDAwLWxpbmstd2F2ZTA%26K%3D9oA-J78A0-MLaqPORE7qwA&amp;source=gmail&amp;ust=1479140221822000&amp;usg=AFQjCNFijhuKOi6p77p5H6NRTiOKdoUQCA">Customer Support</a> page. </div>
</td>
</tr>
<tr>
<td>
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;line-height:21px;padding-bottom:6px">
Call us at <a href="tel:1-877-261-3523" value="+18772613523" target="_blank">1-877-261-3523</a>.
</div>
<div class="m_6368541090561098832content-text" style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;line-height:21px;padding-bottom:6px">
For faster service, mention <strong>itinerary #<%= @itinerary %> </strong>
</div>
</td>
</tr>
</table> </td>
</tr>
<tr>
<td align="left">
<tr>
<td align="left">
<table class="m_6368541090561098832hotel-content" width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="m_6368541090561098832hr-container" align="left" style="padding-top:24px;padding-bottom:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
<tr>
<td class="m_6368541090561098832secondary-section" align="left" style="font-family:HelveticaNeue,Helvetica;padding-bottom:24px">
<span class="m_6368541090561098832header-2" style="font-size:20px;color:#6b6b6b">
Complete your trip </span>
</td>
</tr>
<tr>
<td class="m_6368541090561098832secondary-section" align="left">
<table id="m_6368541090561098832check-in-out-time-section" class="m_6368541090561098832flex-width-100" cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td id="m_6368541090561098832check-in-container" class="m_6368541090561098832split" align="left" valign="top" width="50%" style="padding-bottom:18px">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left" valign="top">
<img width="265" height="200" src="https://ci6.googleusercontent.com/proxy/El7qJv3kcxPALTXPoTqA22kL_Mbc_YO6DJhMOY_d1Nzt_uGUb8_u7zGVspYW3PzCU5aKofP9aIV1YlaufUVrHDE5gKi-8fypj5C82THa2j9I2KSXZfg3EZxMEiPEywMyzsHHBqkM3e-g=s0-d-e1-ft#https://images.trvl-media.com/media/content/expus/graphics/launch/hotel1320x742.jpg" style="width:265px;height:147px;padding-bottom:12px">
<div width="265" style="width:265px;height:135px;background-color:#ffffff">
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;padding-left:18px;padding-right:18px;padding-top:18px;padding-bottom:8px;font-weight:bolder;line-height:21px">
Rooms are filling up quick! </div>
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;padding-left:18px;padding-right:18px;line-height:21px">
Check out popular hotels in Nairobi before they sell out! </div>
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;line-height:21px;padding-left:18px;padding-bottom:18px">
<a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMTY%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vcHVic3BlYy9zY3JpcHRzL2VhcC5hc3A_Z290bz1IT1RXSVomcmZycj1GbGlnaHQuRW1haWwuWFNlbGwuSG90ZWwmZW1sY2lkPVBULUVUTS1FTlNQQy10ZWlkMS41MTMyMy1pc3N1MS10ZXN0WC1sYW5nMTAzMy12ZXJYLW1jaWRYLXNlZ2FYLXNlZ2JYLXNlZ21YLWtleS1wYWlkLWRhdGUyMDE2MDkxOTAwMDAwMC1saW5rLXdhdmUw&amp;K=LLZ0a9lFnRqH4wx7a9xThg" style="text-decoration:none;color:#0065b8" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMTY%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vcHVic3BlYy9zY3JpcHRzL2VhcC5hc3A_Z290bz1IT1RXSVomcmZycj1GbGlnaHQuRW1haWwuWFNlbGwuSG90ZWwmZW1sY2lkPVBULUVUTS1FTlNQQy10ZWlkMS41MTMyMy1pc3N1MS10ZXN0WC1sYW5nMTAzMy12ZXJYLW1jaWRYLXNlZ2FYLXNlZ2JYLXNlZ21YLWtleS1wYWlkLWRhdGUyMDE2MDkxOTAwMDAwMC1saW5rLXdhdmUw%26K%3DLLZ0a9lFnRqH4wx7a9xThg&amp;source=gmail&amp;ust=1479140221823000&amp;usg=AFQjCNGBvwld6HggkFZbZUb9WOaII47Lfw">Find a hotel</a>
</div>
</div>
</td>
</tr>
</table>
</td>
<td class="m_6368541090561098832split" align="left" valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left" valign="top">
<img width="265" height="200" src="https://ci3.googleusercontent.com/proxy/0D5biuMHI-B7ZQ0_1Qub3Mk4mYqKOGNT__MC-J2KENlbvhT-GcIq6V1CXt1Taabh1UKGZ4zbAYrre7njMTUz_YNDP-FlC-3GrGJI99y9PEEEYolB9tIJrLNS55pDXWLt9PVbhPlJOKHjgYZI=s0-d-e1-ft#https://images.trvl-media.com/media/content/expus/graphics/launch/activity1320x742.jpg" style="width:264px;height:147px;padding-bottom:12px">
<div width="256" style="width:265px;height:135px;background-color:#ffffff">
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;padding-left:18px;padding-right:18px;padding-top:18px;padding-bottom:8px;font-weight:bolder;line-height:21px">
Tickets sell out fast! </div>
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;padding-left:18px;padding-right:18px;line-height:21px">
Book your Nairobi activities now. </div>
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;line-height:21px;padding-left:18px;padding-bottom:18px">
<a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMTc%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vdGhpbmdzLXRvLWRvLz9pdGluTnVtYmVyPTcyMTE5ODYwMTAzMDgmbG9jYXRpb249TmFpcm9iaSZzdGFydERhdGU9MTAvMi8yMDE2JmVuZERhdGU9MTAvMTYvMjAxNiZyZnJyPUZsaWdodC5FbWFpbC5YU2VsbC5Uc2hvcC5SZXNwJmNhdGVnb3JpZXM9QXR0cmFjdGlvbnMlN0MmZW1sY2lkPVBULUVUTS1FTlNQQy10ZWlkMS41MTMyMy1pc3N1MS10ZXN0WC1sYW5nMTAzMy12ZXJYLW1jaWRYLXNlZ2FYLXNlZ2JYLXNlZ21YLWtleS1wYWlkLWRhdGUyMDE2MDkxOTAwMDAwMC1saW5rLXdhdmUw&amp;K=bx6OfC2Wa-demKSjYlcgUg" style="text-decoration:none;color:#0065b8" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMTc%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vdGhpbmdzLXRvLWRvLz9pdGluTnVtYmVyPTcyMTE5ODYwMTAzMDgmbG9jYXRpb249TmFpcm9iaSZzdGFydERhdGU9MTAvMi8yMDE2JmVuZERhdGU9MTAvMTYvMjAxNiZyZnJyPUZsaWdodC5FbWFpbC5YU2VsbC5Uc2hvcC5SZXNwJmNhdGVnb3JpZXM9QXR0cmFjdGlvbnMlN0MmZW1sY2lkPVBULUVUTS1FTlNQQy10ZWlkMS41MTMyMy1pc3N1MS10ZXN0WC1sYW5nMTAzMy12ZXJYLW1jaWRYLXNlZ2FYLXNlZ2JYLXNlZ21YLWtleS1wYWlkLWRhdGUyMDE2MDkxOTAwMDAwMC1saW5rLXdhdmUw%26K%3Dbx6OfC2Wa-demKSjYlcgUg&amp;source=gmail&amp;ust=1479140221823000&amp;usg=AFQjCNE0BEMJIyDy9Wdb8FCD_N5RH-R5bw">Get Activities</a>
</div>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td class="m_6368541090561098832secondary-section" align="left">
<table id="m_6368541090561098832check-in-out-time-section" class="m_6368541090561098832flex-width-100" cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td id="m_6368541090561098832check-in-container" class="m_6368541090561098832split" align="left" valign="top" width="50%" style="padding-bottom:18px">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left" valign="top">
<img width="265" height="200" src="https://ci4.googleusercontent.com/proxy/tRzjVyl55vLS5ETPbAkD7sdRuX12X5ppugllI1iapv0XSzbj-nTaKq4Qi0jZNHh2gBeAhwIWGz--jJTmpkWGjtH5YlNZaZXX1KUTu7zLNzrgg5Vlb5YOgHflt1zvoC6p-SNXzv3hkkloF_cR1wniGx2biQ=s0-d-e1-ft#https://a.travel-assets.com/mediavault.le/media/6929c8f163355eff1d2162f18c51917af47a294b.jpeg" style="width:265px;height:147px;padding-bottom:12px">
<div width="265" style="width:265px;height:135px;background-color:#ffffff">
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;padding-left:18px;padding-right:18px;padding-top:18px;padding-bottom:8px;font-weight:bolder;line-height:21px">
Avoid the stress of traffic! </div>
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;padding-left:18px;padding-right:18px;line-height:21px">
Let someone else do the driving </div>
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;line-height:21px;padding-left:18px;padding-bottom:18px">
<a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMTg%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vdGhpbmdzLXRvLWRvL2l0aW5BdHRhY2g_aXRpbk51bWJlcj03MjExOTg2MDEwMzA4JmxvY2F0aW9uPU5haXJvYmkmc3RhcnREYXRlPTEwLzIvMjAxNiZlbmREYXRlPTEwLzE2LzIwMTYmcmZycj1GbGlnaHQuRW1haWwuWFNlbGwuR1RzaG9wLlJlc3AmdHJpcElkPWI3OTkyYjJiLTQ3MDctNDNlZS1hZTgwLWIwNjU4ZWY3MzI5YiZmbGlnaHRCb29raW5nPXRydWUmZW1sY2lkPVBULUVUTS1FTlNQQy10ZWlkMS41MTMyMy1pc3N1MS10ZXN0WC1sYW5nMTAzMy12ZXJYLW1jaWRYLXNlZ2FYLXNlZ2JYLXNlZ21YLWtleS1wYWlkLWRhdGUyMDE2MDkxOTAwMDAwMC1saW5rLXdhdmUw&amp;K=u3vV94j7NrvmNGFSxxgTjg" style="text-decoration:none;color:#0065b8" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMTg%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vdGhpbmdzLXRvLWRvL2l0aW5BdHRhY2g_aXRpbk51bWJlcj03MjExOTg2MDEwMzA4JmxvY2F0aW9uPU5haXJvYmkmc3RhcnREYXRlPTEwLzIvMjAxNiZlbmREYXRlPTEwLzE2LzIwMTYmcmZycj1GbGlnaHQuRW1haWwuWFNlbGwuR1RzaG9wLlJlc3AmdHJpcElkPWI3OTkyYjJiLTQ3MDctNDNlZS1hZTgwLWIwNjU4ZWY3MzI5YiZmbGlnaHRCb29raW5nPXRydWUmZW1sY2lkPVBULUVUTS1FTlNQQy10ZWlkMS41MTMyMy1pc3N1MS10ZXN0WC1sYW5nMTAzMy12ZXJYLW1jaWRYLXNlZ2FYLXNlZ2JYLXNlZ21YLWtleS1wYWlkLWRhdGUyMDE2MDkxOTAwMDAwMC1saW5rLXdhdmUw%26K%3Du3vV94j7NrvmNGFSxxgTjg&amp;source=gmail&amp;ust=1479140221823000&amp;usg=AFQjCNGB_zNBD7Ji0FVuAeXJPQmfKiZf5Q">Get a ride</a>
</div>
</div>
</td>
</tr>
</table>
</td>
<td class="m_6368541090561098832split" align="left" valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left" valign="top">
<img width="265" height="200" src="https://ci6.googleusercontent.com/proxy/GaiaTcuTs-0MqzuRKJVWv-mQSc5c2p9AMsl15cv-Bc5wRwhyDb-up6PAhNEfizq4OcbSOYBnxftlyb74UXrxHzlGF9ZymqtfFveruW58mcHwY4Y-XRGSBveGo794y9P7gsGmU653jQ=s0-d-e1-ft#https://images.trvl-media.com/media/content/expus/graphics/launch/car1320x742.jpg" style="width:264px;height:147px;padding-bottom:12px">
<div width="256" style="width:265px;height:135px;background-color:#ffffff">
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;padding-left:18px;padding-right:18px;padding-top:18px;padding-bottom:8px;font-weight:bolder;line-height:21px">
How will you get around NBO? </div>
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;color:#6b6b6b;padding-left:18px;padding-right:18px;line-height:21px">
Explore NBO with your own set of wheels.
</div>
<div style="font-family:HelveticaNeue,Helvetica;font-size:15px;line-height:21px;padding-left:18px;padding-bottom:18px">
<a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMTk%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vcHVic3BlYy9zY3JpcHRzL2VhcC5hc3A_cmZycj1IT1QuRW1haWwuWHNlbGwuVHNob3AuUmVzcCZnb3RvPUNBUkxBVU5DSCZlbWxjaWQ9UFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQtZGF0ZTIwMTYwOTE5MDAwMDAwLWxpbmstd2F2ZTAmZW1sY2lkPVBULUVUTS1FTlNQQy10ZWlkMS41MTMyMy1pc3N1MS10ZXN0WC1sYW5nMTAzMy12ZXJYLW1jaWRYLXNlZ2FYLXNlZ2JYLXNlZ21YLWtleS1wYWlkLWRhdGUyMDE2MDkxOTAwMDAwMC1saW5rLXdhdmUw&amp;K=d5uXT0VC1okki3t_EX75hQ" style="text-decoration:none;color:#0065b8" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMTk%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20vcHVic3BlYy9zY3JpcHRzL2VhcC5hc3A_cmZycj1IT1QuRW1haWwuWHNlbGwuVHNob3AuUmVzcCZnb3RvPUNBUkxBVU5DSCZlbWxjaWQ9UFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQtZGF0ZTIwMTYwOTE5MDAwMDAwLWxpbmstd2F2ZTAmZW1sY2lkPVBULUVUTS1FTlNQQy10ZWlkMS41MTMyMy1pc3N1MS10ZXN0WC1sYW5nMTAzMy12ZXJYLW1jaWRYLXNlZ2FYLXNlZ2JYLXNlZ21YLWtleS1wYWlkLWRhdGUyMDE2MDkxOTAwMDAwMC1saW5rLXdhdmUw%26K%3Dd5uXT0VC1okki3t_EX75hQ&amp;source=gmail&amp;ust=1479140221823000&amp;usg=AFQjCNFAgAcBle7eLFs7Cwv-XKwbwwEN2Q">Rent a car</a>
</div>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</td>
</tr>
<tr>
<td align="left">
<tr>
<td class="m_6368541090561098832hr-container" align="left" style="padding-top:24px;padding-bottom:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
<td><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5" style="padding-bottom:12px">
<tr>
<td class="m_6368541090561098832secondary-section">
<table id="m_6368541090561098832check-in-out-time-section" class="m_6368541090561098832flex-width-100" cellpadding="0" cellspacing="0" border="0" style="width:100%">
<tr>
<td id="m_6368541090561098832check-in-container" class="m_6368541090561098832split" valign="top" style="padding-bottom:12px;width:20%">
<table>
<tr>
<td width="50%" style="padding-top:0px;display:inline-block">
<div id="m_6368541090561098832live-intent-1" width="50%" height="221" style="width:265px;height:221px">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td colspan="2">
<a style="display:block;width:265px;height:221px" href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMjA%3A%3AaHR0cDovL25ld3MuZXhwZWRpYS5jb20vY2xpY2s_cz0xNTYwODgmc3o9MzAweDI1MCYmbT05YzEyNWQxZTU4ZmQwODQxMzA3OWQyY2ViZWY2MTM3MiZwPTAyLWMxNjI2NC04NWM0ZmRhOTkxZmQ0MTI5YTY5ZDY0NDllMmY1ODBiYg&amp;K=UWb_uO0j7KiB0RvgZiGy6A" rel="nofollow" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMjA%253A%253AaHR0cDovL25ld3MuZXhwZWRpYS5jb20vY2xpY2s_cz0xNTYwODgmc3o9MzAweDI1MCYmbT05YzEyNWQxZTU4ZmQwODQxMzA3OWQyY2ViZWY2MTM3MiZwPTAyLWMxNjI2NC04NWM0ZmRhOTkxZmQ0MTI5YTY5ZDY0NDllMmY1ODBiYg%26K%3DUWb_uO0j7KiB0RvgZiGy6A&amp;source=gmail&amp;ust=1479140221823000&amp;usg=AFQjCNE6T9nMONGlReo1XjI8xSI3zzeGjA">
<img src="https://ci3.googleusercontent.com/proxy/9zBW7xWLCVjpp3UrYHT5dKzmgOyR-kK5El3Msu_6B1aMHwsAyNsmF4TQ7f2ugqoPswesy65wim7dkPBuR3iMlxjZfgyd1e7CZ0F0OCDoekvaN2M-77YGqufXbjen_PqLbSWzUg1oIeIrXX6PjVcnLxsLWYtz6ykhpEyvUJKkTUxh7zMBudB69ny4a8hrQUH9zevn7eE=s0-d-e1-ft#http://news.expedia.com/imp?s=156088&amp;sz=300x250&amp;m=9c125d1e58fd08413079d2cebef61372&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" border="0" width="265" height="221">
</a>
</td>
</tr>
<tr style="display:block;height:1px;line-height:1px">
<td><img src="https://ci4.googleusercontent.com/proxy/kfGsdvs5AT088WgS8BOeGvOuMcWIMQQoJoXugwPrvpv_oNnOi9NTVR1yv_OlrJMC3JNtNGM4ezTbqH6c0xueXGJMPPDVCH-Fc1OUDG-KnwvCiKkEACXQQb8VW3rrlSig4_qS-DBoOn7lesDuUZ0CrLVGuS89ilIUSnETSoP2gVysXp6g2tt_Yvd-6g2cLa70hg=s0-d-e1-ft#http://news.expedia.com/imp?s=156089&amp;sz=1x1&amp;m=9c125d1e58fd08413079d2cebef61372&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" height="1" width="10"></td>
<td><img src="https://ci5.googleusercontent.com/proxy/PxFA6x6FOQ5FBjqSalVpME3PLehTolBsqtTNWUQ8A0Y9ZYdaVgpdERyIQ6HZf6x-K87-ehmBYKBn5t7loNI36VkK9ZkO8nOw9TV3JLqeiwtyyjxYc4tSzV1UcdcmT0D2fKaj4AQovGeGJT5er8g-ox_ivOlCxT5552U9t0UNvT8nktDeYT-neqsXsa-nD-L7GQ=s0-d-e1-ft#http://news.expedia.com/imp?s=156090&amp;sz=1x1&amp;m=9c125d1e58fd08413079d2cebef61372&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" height="1" width="10"></td>
</tr>
<tr>
<td align="right">
<a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMjE%3A%3AaHR0cDovL25ld3MuZXhwZWRpYS5jb20vY2xpY2s_cz0xMzQ2ODYmc3o9Njl4MTUmbT05YzEyNWQxZTU4ZmQwODQxMzA3OWQyY2ViZWY2MTM3MiZwPTAyLWMxNjI2NC04NWM0ZmRhOTkxZmQ0MTI5YTY5ZDY0NDllMmY1ODBiYg&amp;K=UEWofQJ5X4iHT5_0yq0sNQ" rel="nofollow" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMjE%253A%253AaHR0cDovL25ld3MuZXhwZWRpYS5jb20vY2xpY2s_cz0xMzQ2ODYmc3o9Njl4MTUmbT05YzEyNWQxZTU4ZmQwODQxMzA3OWQyY2ViZWY2MTM3MiZwPTAyLWMxNjI2NC04NWM0ZmRhOTkxZmQ0MTI5YTY5ZDY0NDllMmY1ODBiYg%26K%3DUEWofQJ5X4iHT5_0yq0sNQ&amp;source=gmail&amp;ust=1479140221823000&amp;usg=AFQjCNEUWyLRDks2CdrUQvpSO6ouoC8jKA">
<img src="https://ci3.googleusercontent.com/proxy/OEtd-VcmUNzLeJMzBjZ2zGa8GqTtNxTlKqq0tUI0gkIqnYo3Oq8MX5I5a6HQKjOZuc-el8YOyWbPbJB5luOYg-SSgGV6ln7KHOpxxIJUejL4-G5518YDgHvN7NetYvsD2E-bqqzZAs9ha7LoYd9r_vPMu_fJIh-EdYVY0wfaueXI7mTyyHHtxGqZDyrFU-pijtVU=s0-d-e1-ft#http://news.expedia.com/imp?s=134686&amp;sz=69x15&amp;m=9c125d1e58fd08413079d2cebef61372&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" border="0">
</a>
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</td>
<td id="m_6368541090561098832check-in-container" class="m_6368541090561098832split" valign="top" style="padding-bottom:12px">
<table>
<tr>
<td width="50%" style="padding-top:0px;display:inline-block">
<div id="m_6368541090561098832live-intent-2" width="50%" height="221" style="width:265px;height:221px">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td colspan="2">
<a style="display:block;width:265px;height:221px" href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMjI%3A%3AaHR0cDovL25ld3MuZXhwZWRpYS5jb20vY2xpY2s_cz0xNTYwOTEmc3o9MzAweDI1MCZtPTljMTI1ZDFlNThmZDA4NDEzMDc5ZDJjZWJlZjYxMzcyJnA9MDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi&amp;K=6UNIT2PVnzSaHgSqGgxkdQ" rel="nofollow" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMjI%253A%253AaHR0cDovL25ld3MuZXhwZWRpYS5jb20vY2xpY2s_cz0xNTYwOTEmc3o9MzAweDI1MCZtPTljMTI1ZDFlNThmZDA4NDEzMDc5ZDJjZWJlZjYxMzcyJnA9MDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%26K%3D6UNIT2PVnzSaHgSqGgxkdQ&amp;source=gmail&amp;ust=1479140221823000&amp;usg=AFQjCNE0O6JXuFsq8CAc72HQ_fTAbg4odw">
<img src="https://ci6.googleusercontent.com/proxy/8fL-1LRInxuiqd7lSc-jK-gHashlKsourKIVg0f9vLcfQ6WpJTcS4lRfiKkK26BtaLbIxUidsBSOwS6Jdu-TdLCzoXhrZkI5_b11fLWmIO9KPtoZ8xaZfMl94eVhIbRUZIVP6CDiourzaTk53a5EbnyMAbGkGbhKACfV7wYbhp9bBtF58s4KNoAjyscpGQlogHjvMoGcFw=s0-d-e1-ft#http://news.expedia.com/imp?s=156091&amp;sz=300x250&amp;&amp;m=9c125d1e58fd08413079d2cebef61372&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" border="0" width="265" height="221">
</a>
</td>
</tr>
<tr style="display:block;height:1px;line-height:1px">
<td><img src="https://ci4.googleusercontent.com/proxy/T2rWqo-ewDefp29O2AMBxVd4yzDHQHXT3GowUj7poGu4e2pBTt6nzZVYQGWCm3YMvjTGYVnr5LzEnvw1CYzCgWQXRzGgaaz87ZHLDyE3s4ZUeIXYH0IiBH4DthUhwxFS1wt35I220R1_h3hzp_0bG1nEh3NpamTZrfhtv__4ruLxyi-tDwETy7BbJFW1McpOlQ=s0-d-e1-ft#http://news.expedia.com/imp?s=156092&amp;sz=1x1&amp;m=9c125d1e58fd08413079d2cebef61372&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" height="1" width="10"></td>
<td><img src="https://ci5.googleusercontent.com/proxy/ll0nUpgSzugzNUYyU3qfnwFKUNZKbX0LKWEfZj0zdeHbYCmznxn4s2bDWlmBaD0-Ciz9nR7-WH669KCaKP4Y-Ps6XrMjrITb3Ua8NG3YoflzpXA2COWAJIwwtfkS89f5bj5tJq6Y9rxt_1FxoGKaqGq-80wnx_ZjzBxpyMwQnIfN7EWJLHHZy3UeI1PzhH1l5A=s0-d-e1-ft#http://news.expedia.com/imp?s=156093&amp;sz=1x1&amp;m=9c125d1e58fd08413079d2cebef61372&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" height="1" width="10"></td>
</tr>
<tr>
<td align="right">
<a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMjM%3A%3AaHR0cDovL25ld3MuZXhwZWRpYS5jb20vY2xpY2s_cz0xMzQ2ODYmc3o9Njl4MTUmbT05YzEyNWQxZTU4ZmQwODQxMzA3OWQyY2ViZWY2MTM3MiZwPTAyLWMxNjI2NC04NWM0ZmRhOTkxZmQ0MTI5YTY5ZDY0NDllMmY1ODBiYg&amp;K=CSiQ93WxoIeH-N3OPYd18w" rel="nofollow" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMjM%253A%253AaHR0cDovL25ld3MuZXhwZWRpYS5jb20vY2xpY2s_cz0xMzQ2ODYmc3o9Njl4MTUmbT05YzEyNWQxZTU4ZmQwODQxMzA3OWQyY2ViZWY2MTM3MiZwPTAyLWMxNjI2NC04NWM0ZmRhOTkxZmQ0MTI5YTY5ZDY0NDllMmY1ODBiYg%26K%3DCSiQ93WxoIeH-N3OPYd18w&amp;source=gmail&amp;ust=1479140221824000&amp;usg=AFQjCNG9ua8EVB0xQPJfNKlpq1DlqaFRgg">
<img src="https://ci3.googleusercontent.com/proxy/OEtd-VcmUNzLeJMzBjZ2zGa8GqTtNxTlKqq0tUI0gkIqnYo3Oq8MX5I5a6HQKjOZuc-el8YOyWbPbJB5luOYg-SSgGV6ln7KHOpxxIJUejL4-G5518YDgHvN7NetYvsD2E-bqqzZAs9ha7LoYd9r_vPMu_fJIh-EdYVY0wfaueXI7mTyyHHtxGqZDyrFU-pijtVU=s0-d-e1-ft#http://news.expedia.com/imp?s=134686&amp;sz=69x15&amp;m=9c125d1e58fd08413079d2cebef61372&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" border="0">
</a>
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table> </td>
</td></tr>
<tr>
<td class="m_6368541090561098832hr-container" align="left" style="padding-top:24px;padding-bottom:24px">
<hr style="margin:0;border:none;border-top:1px solid #c8c8c8">
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="left" style="padding-left:24px">
<table id="m_6368541090561098832trip-details-content" width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-right:12px">
<tr>
<td class="m_6368541090561098832small-content-list-section" align="left" style="padding-bottom:12px">
<span class="m_6368541090561098832small-content-text" style="font-family:HelveticaNeue,Helvetica;font-size:12px;color:#6b6b6b">
Please do not reply to this message. This email was sent from a notification-only email address that cannot accept incoming email. </span>
</td>
</tr>
<tr>
<td class="m_6368541090561098832small-content-list-section" align="left" style="padding-bottom:12px">
<span class="m_6368541090561098832small-content-text" style="font-family:HelveticaNeue,Helvetica;font-size:12px;color:#6b6b6b">
You are receiving this transactional email based on a recent booking or account-related update on <a href="http://link.expediamail.com/c/4/?T=NjQxMjYyODE%3AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%3AZGN5dTkzQGdtYWlsLmNvbQ%3AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%3AZmFsc2U%3AMjQ%3A%3AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20_ZW1sY2lkPVBULUVUTS1FTlNQQy10ZWlkMS41MTMyMy1pc3N1MS10ZXN0WC1sYW5nMTAzMy12ZXJYLW1jaWRYLXNlZ2FYLXNlZ2JYLXNlZ21YLWtleS1wYWlkLWRhdGUyMDE2MDkxOTAwMDAwMC1saW5rLXdhdmUw&amp;K=TmMXZ6tg8QyCOnpbklnITg" style="color:#0065b8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://link.expediamail.com/c/4/?T%3DNjQxMjYyODE%253AMDItYzE2MjY0LTg1YzRmZGE5OTFmZDQxMjlhNjlkNjQ0OWUyZjU4MGJi%253AZGN5dTkzQGdtYWlsLmNvbQ%253AUFQtRVRNLUVOU1BDLXRlaWQxLjUxMzIzLWlzc3UxLXRlc3RYLWxhbmcxMDMzLXZlclgtbWNpZFgtc2VnYVgtc2VnYlgtc2VnbVgta2V5LXBhaWQ%253AZmFsc2U%253AMjQ%253A%253AaHR0cHM6Ly93d3cuZXhwZWRpYS5jb20_ZW1sY2lkPVBULUVUTS1FTlNQQy10ZWlkMS41MTMyMy1pc3N1MS10ZXN0WC1sYW5nMTAzMy12ZXJYLW1jaWRYLXNlZ2FYLXNlZ2JYLXNlZ21YLWtleS1wYWlkLWRhdGUyMDE2MDkxOTAwMDAwMC1saW5rLXdhdmUw%26K%3DTmMXZ6tg8QyCOnpbklnITg&amp;source=gmail&amp;ust=1479140221824000&amp;usg=AFQjCNHBSTtOa0xak8_UEkKzsaML24B53Q">Expedia.com</a>. </span>
</td>
</tr>
<tr>
<td class="m_6368541090561098832small-content-list-section" align="left">
<span class="m_6368541090561098832small-content-text" style="font-family:HelveticaNeue,Helvetica;font-size:12px;color:#6b6b6b">
 2017 Expedia, Inc. All rights reserved. Expedia, Expedia Extras, Best Price Guarantee, Trend Tracker, Insiders&#39; Select and the Airplane logos are registered trademarks, or trademarks, of Expedia, Inc. in the U.S. and/or other countries. Other product and company names mentioned herein may be trademarks of their respective owners. </span>
</td>
</tr>
<tr>
<td class="m_6368541090561098832small-content-list-section" align="left" style="padding-bottom:12px">
<span class="m_6368541090561098832small-content-text" style="font-family:HelveticaNeue,Helvetica;font-size:12px;color:#6b6b6b">emlcid=PT-ETM-ENSPC-teid1.<wbr>51323-issu1-testX-lang1033-<wbr>verX-mcidX-segaX-segbX-segmX-<wbr>key-paid-date20160919000000-<wbr>link-wave0</span>
</td>
</tr>
</table> </td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="40" height="6">
<tbody>
<tr>
<td><img src="https://ci5.googleusercontent.com/proxy/ljSvAGN2C0dIeur48si4djRPFp5XdhtCopb9F5n4tvw4H7uk18-qIPRshHKTGJ_ZaQ4jboT_LGuYafZMwLq3C-e4Nv1ACDNAIILQe6kGLB-kmEoV83W-MRuWB9SVYAxb2o8oChndT19SAkjWf3NPNI8v01-Im6UypiVREsUCRRZloWdV=s0-d-e1-ft#http://news.expedia.com/imp?s=124054400&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci5.googleusercontent.com/proxy/IJTbP7r08NARkORbz3255Fjlw7ylT6_4u-06FHG0hKvxcwB_NDvNpaenrBohyAZDlYvAQNV3jdaXLv3Z_0jwkUOI7rphNCfzK1NWq3H3Mvth3tJesqoAFlO0WJxWRaUBYIRp1kVHGZH3cThLsk6KwJhcSHq9Od67bmfWfNNG0wyihYYg=s0-d-e1-ft#http://news.expedia.com/imp?s=124054401&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci6.googleusercontent.com/proxy/O9kYoULaXtdRuXdEWcsNIyJB-joOxIvWzKaolO--RmwG9VfOQfpu2SqgN_5dDVLeSYlU5YlsbJk05NFNcPdzOio4LCELY4ptEgXpSh43L88d8FV2EaLD_szOEZh_I3tp2jVDMdTZ4D8C0ipYeWZbu41urxyP6qqH61VCo3L5rWXQi_Wu=s0-d-e1-ft#http://news.expedia.com/imp?s=124054402&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci4.googleusercontent.com/proxy/wKeZtnceqbJfX4LfqERu-db5TYEnzOyzWO0W8pymNAaVNNzY3lqpQHCoo0cjfyucQaOWcCKXrsC4Z2t_AuwBDhc_ehuDPdUhqybeECeci8rL9RVs9RytD7ONo-YtG5cjVmFbxSwfS2jgujl2GRrBvQw52bxmLQp6MU0kQxj2fAakeikT=s0-d-e1-ft#http://news.expedia.com/imp?s=124054403&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci6.googleusercontent.com/proxy/liPKve1ZqEpDBedoQaSqP-_DrH8E8FmgW-xfIurSP8ldUFsjB60z8coorKL3FxVVT8q3IxNK7678xxJ4BdsIigrTtb8M30N_UI3FGGedc_zRp01LXFEG64foGKAY5LoR-1K826X1O1ZEux5nNBWJ-GuQS0RvAOuCV1an4JvZhXmJnx0F=s0-d-e1-ft#http://news.expedia.com/imp?s=124054404&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci3.googleusercontent.com/proxy/O3MY2y3I9st549qbkfDbX-XjmGc1JvkwjqeJpl8D7HbT6RjRhEb9RJizwtQKqV6OdantWDVsbU7MDUOtQjCHd6igbJhT9f4lE6BY8mZMmjL2i5Cq4ZZeAPT7Hye8WgLuxPlMfCI29a2G0jnMXFYUj0yrMafTJoeVQc28yKNSz-xGRYCQ=s0-d-e1-ft#http://news.expedia.com/imp?s=124054405&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci3.googleusercontent.com/proxy/eZPCigw6PQr3ApNcSPxh2SrqH44IbKxz45gNqCwSYXneT13BYDnupFhXULG_DmO0aNta2CDvwXI1r0LBchuaCny6uqfaFXnP-iuOFBF9gud5BG8r1uieCjDzdlwU4OCV_ODzjPJx-rz1xvlGoxVN-KSRf9fGsGLBKbpWSpIQCF-KgKvr=s0-d-e1-ft#http://news.expedia.com/imp?s=124054406&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci6.googleusercontent.com/proxy/NetHBWooZWjfNavM3vO3xejFtUvuu00461ol68Zg_KlHWxqBVsfOWHNxKLp-i0H4J6Kj_uwe_2UuYa_wgnqIC1Rv9jKJgtAuzeBPbdNAFk7cfzM7xXZgO5UjpZhFewaX7UlVprrNBojUHnCvdmraBajk3h9Gj7aWJw3XTJcSZ7yhNA7i=s0-d-e1-ft#http://news.expedia.com/imp?s=124054407&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci4.googleusercontent.com/proxy/tJT5ROCBWNrGcT1Srr-OLQO0TvKzsMqOl3sCzIj2FTBZ8Ki_TPEo62j84rIsKIxFH8LF4BlybN7K158PfsA-EuPiMXGpAm60SacjCv7dsyulKQZ5R-UJXxWqJ1nWA_mTYAnMKvAscYXz8xEqeF3p5M72_SAU-XtC-oaTwk8NR0xk6FwF=s0-d-e1-ft#http://news.expedia.com/imp?s=124054408&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci4.googleusercontent.com/proxy/SrGgmAg22I2jSXd5qzD0OCDLtd5GjEHkmKYmYtL91Xxixg_72EGMU-UEQNHhI7gfzbMpxbAGR9N-rI8PBFmPkF5e_fsqTFQn5zMw6S1SMXNnGwszfxkXTtugVmYEmAohG5UoChhOHOQsPlEZORdIt_lA9_CkkdghrjoP8CeVdhup0_vR=s0-d-e1-ft#http://news.expedia.com/imp?s=124054409&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci5.googleusercontent.com/proxy/E8tTiypPu6McvExwDy5L3N5fjVvPTTwMO8_MVTUnhyHwxPC8_H4xh9mp5_56bSj3RvjLAIw7id7X4ryHXg1BdZdZhn8PdCj8xWFyZDPhZ4yS0uCkNadw4n6es3MXl3cwZV-eg1SNu0c1Yvflza8E1C8RjbEmrjp3Gy2gIJynphQTFwW9=s0-d-e1-ft#http://news.expedia.com/imp?s=124054410&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci3.googleusercontent.com/proxy/UpEomxiaULM2Z__6zGocklCyTLLK7PLl0fXwLYTRafhI_qP57ML1Z9M5ojI74w-O2frfP_jpmSL2QF-hZuGgKpvVSxa8gSe3u_yi-mIk9rwtpHPNDEKeps7X9FmHEkYb8yWO_nLFavwDXSOae3JX6S_a2I33_K2TaQWUHU5VdeR_7lsq=s0-d-e1-ft#http://news.expedia.com/imp?s=124054411&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci3.googleusercontent.com/proxy/0EsSI_Dp50P45v7hnEzQtbw7NWa6Ghk41r-LEVIPkpei9WZsO--fYmQrSJenSEXmbEmohAnQFiW4kDZUv3tAzOkoJm3N-wlruzJqKaKSjKnJWqICP6ckmNSO-oSNhXSIOv22IcARxBPUmXwlFbSfcQngLpADne9QwmJp4JSUc3m6oy7G=s0-d-e1-ft#http://news.expedia.com/imp?s=124054412&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci4.googleusercontent.com/proxy/ErP04caQ6bBRxR-I1BgKGYxd86iRVB-UKxEmJAFWy9Xky-EWstdfpWOJ2EgtC7ujPPaEcuatNFjWjFEhBtS1xwh503zAgVQx1HAOK4aqHpZ5zX_ojemTYg7fBbZWS69x7wtNBNYMoeq20v4XyFxF8zA9fN9K6e8nAzWxuAII1qOlb2en=s0-d-e1-ft#http://news.expedia.com/imp?s=124054413&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci5.googleusercontent.com/proxy/Cox9WKscKWxBhHgh4uYZTp5ACN_H2uYVFBdCihZaOPNMKg51NS8Xu-kTGK6162cnLgb7bI1YTsTqdqZ6YUpopTEcMtcQ6-_w1TEKZA9tsAg4IC0pxKwtW35V38mCudwCvwBgC_HvWT__8KKDODD0eDowQjsxLGSWIyl55gNlnLr4vfDB=s0-d-e1-ft#http://news.expedia.com/imp?s=124054414&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci6.googleusercontent.com/proxy/BeZXgz_as9qEdYrScLCVto6hnHkIt4RKcs6sEKyi2czE6RmsHkpzhF56otqiGUgwx-gZjWSTDtEqkUXxWEY1oktbrwOJwL2vte2Y6bamD9rzSmXMpUwq_1JNBHtXL2tS1DIkbJ2we07R6IKKerh-T0cQJsyItC-Ne_Irt3BGwliG1HgY=s0-d-e1-ft#http://news.expedia.com/imp?s=124054415&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci5.googleusercontent.com/proxy/YTVQFx4bYRpkb4id2QqeuvLOeypzISPhaQblnca-UMuoa55CxHtqQQ8pbBTKO3Z3DLwRdZ3yv8iosIDh0_n2O3_6dle6rHqomXaRYl1I4_jGE7NmwE9f_vHV9hcQ9jJb2iA6Rrb4KWiRV6PoUhlhMxUz0YrziGX4zVd451zBT4rfUgln=s0-d-e1-ft#http://news.expedia.com/imp?s=124054416&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci4.googleusercontent.com/proxy/UibsDjtBNbYwiwxPI1b1xNrMKBEx47ZmfYUGHeW5WylBix6kxYnpwUe_caVawtDIqpknOifV6avvgXJNUrPFS9uHomx6ASkKI5MCfJZSq2sbwldIaotZQ1XuH4fjpLj_KiG6AvAdw6mHjEh-ztGs7hjV7unhRbfMwjtJ5GlicepHJEYA=s0-d-e1-ft#http://news.expedia.com/imp?s=124054417&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci3.googleusercontent.com/proxy/dskF-Oc3jxMWvz2kv8q7gPpDd-HqjdsuyRemWlez6zfX_H70IdQ32W3pW7KFI9FB0N6x8QlX4MZLMyVKp8H1BZCrCMWnO1nQt06l08_y1CyzeWZkeHFPA4iSKhvEdeVIMFScuvpcAW2Zb0TiYmoN7AhRXyR0jkgPygo4Xt7l5ZQf626j=s0-d-e1-ft#http://news.expedia.com/imp?s=124054418&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
<td><img src="https://ci5.googleusercontent.com/proxy/5-C8l8BktO1jJMXwtuoBdskigz5veLI-ecOCFiNp0lDCc9ssqgY1Ukg43_nPicFUR0Yoi_TLr7BNw_ugbE5xf9pKdmaTsnJbmuvcejp-6vU-0Izl3HUo79WijilL4jG8ZTtcutuWe3Hv7sBSnIQlpYB23rD9sxKtH4xPSchLTTtkdOL3=s0-d-e1-ft#http://news.expedia.com/imp?s=124054419&amp;sz=2x1&amp;e=dcyu93@gmail.com&amp;p=02-c16264-85c4fda991fd4129a69d6449e2f580bb" width="2" height="6" border="0"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<img src="https://ci6.googleusercontent.com/proxy/kTqDQ0WVH4h76xgiFEU_BKthj-UA8I-W0hzl7z2LXEyAaVt6tHGXbyRBjlhA0p9pc0eDdr74zAhz0dQ8Kf9BMpnd44rjvGCVorsYPOtfRbnAwwuK4x7fhCu9-M0itwR4LFHdH2u_qUjIoMYZUj3h_6BIy-Xo8IJDccRbbwDtNpVC1BtgXhx9DBX_8xAiKBUdJf6nw4iU4OQ6zXIAc90v-8iyMrmRhRe4mKdSOjJRW-Pfn7MXUkWnMCHqi-jICXYCqa4YFqn8wPH14-8NPLe8BFbwyWautDfFsA5aQEonfjWVy1dENd4c6S3sSLK9c49-yDZlM5w0yZ-DECrQ57t62c6XEnyFKjnIttkulbtuOSDMLExvwbLpfdJ3rRYgdwOkDQ2kbiAkTVF8I3rSvm8aUw4dVpbwj82jAT716-pLn9N1VID7umQwLveXDGz6hzP5wcVB7D6spY8w2jMuHg=s0-d-e1-ft#http://link.expediamail.com/o/3/TmpReE1qWXlPREU6TURJdFl6RTJNalkwTFRnMVl6Um1aR0U1T1RGbVpEUXhNamxoTmpsa05qUTBPV1V5WmpVNE1HSmk6WkdONWRUa3pRR2R0WVdsc0xtTnZiUTpVRlF0UlZSTkxVVk9VMUJETFhSbGFXUXhMalV4TXpJekxXbHpjM1V4TFhSbGMzUllMV3hoYm1jeE1ETXpMWFpsY2xndGJXTnBaRmd0YzJWbllWZ3RjMlZuWWxndGMyVm5iVmd0YTJWNUxYQmhhV1E/NH4Xwkykx65fAzzBwfQssw" width="1" height="1"></font></div></table></table></div></div></body></html>