.container.show
  %h1.text-center All Aspirations
  %br/
  %br/
  
  #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
    / Wrapper for slides
    .carousel-inner{:role => "listbox"}
      - @aspirations.each do |aspiration|
        .item{class: "#{"active" if aspiration == @aspirations.last}"}
          .aspiration
            %h1
              =link_to aspiration.title, aspiration_path(aspiration)
            -if current_user
              %br/
              = link_to 'Edit', edit_aspiration_path(aspiration)
              \|
              = link_to 'Destroy', aspiration, :method => :delete, :data => { :confirm => 'Are you sure?' }
    / Controls
    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next
    / Indicators
    %ol.carousel-indicators
      - @aspirations.each_with_index do |aspiration, index|
        %li{"data-slide-to" => "#{index}", "data-target" => "#carousel-example-generic"}
  
  -if current_user
    %br
    %br

    = link_to 'New Aspiration', new_aspiration_path
