%script{src: 'https://www.google.com/jsapi'}

.container.show
  .row
    .col-md-6
      %h1.brand-heading
        Travel Statistics
        
  -@years.each do |year|
    -@year = year
    -@trips = @all_trips.select{|trip| trip.years.include? year}
    .row.year
      .col-md-12
        %h2
          %span.inline-block
            =year
          %span.distance
            Total Distance Traveled:
            =number_with_delimiter(distance(@trips).round)
            miles
          %br/
          %span.distance
            Total Number of Destinations:
            =@trips.map(&:destination).uniq.count


        = render 'timeline'

        %div{id: "timeline-#{year}", class: "timeline-chart"}
        -if @timeline
          = render_chart(@timeline, "timeline-#{year}")

    .row
      -@trips_hash = {}
      
      .col-md-4

        -@trips.group_by{|trip| trip.destination.name}.sort_by{|k,v| k}.each do |destination, trips|
          -days = trips.map{|trip| trip.duration_within_year(@year) - trip.overlapping_trips.select{|trip| trip.years.include? @year}.map{|trip| trip.duration_within_year(@year)}.inject(0, :+) }.inject(0, :+)
          -@trips_hash[destination] = days

        -@trips_hash.sort_by{|k,v| v}.reverse.each do |destination, days|
          %h6
            =link_to destination, destination_path(Destination.find_by(name: destination))
            \: 
            =days
            days

      .col-md-8
        =render 'pie'
        %div{id: "pie-#{year}", class: "pie-chart"}
        -if @pie
          = render_chart(@pie, "pie-#{year}")

  .row
    %h2 Writing Stats
    .col-md-11.col-md-offset-1
      =render 'column'
      #column
      -if @column
        = render_chart(@column, "column")

  .row
    %h2 Favorites
    .col-md-11.col-md-offset-1
      -@favorites.each do |fav|
        %h5 
          Favorite
          =fav.title
          –
          =fav.answer
      -if current_user
        =link_to 'Add New Favorite', new_favorite_path
